/* Custom CSS Styles for Reveal Presentation
 *********************************************/

.reveal:after {
	  content: "";
	 	background: url('../images/backgrounds/Game-of-Thrones-Wallpaper-1080p.jpg') no-repeat center center fixed;
	 	background-size: cover;
	  opacity: 0.3;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;
}

.reveal h1 { font-size: 3em; }
.reveal small { vertical-align: baseline; }
.reveal code {
	display: inline-block;
  padding: 0 0.2em;
  border-radius: 0.2em;
  font-style: normal;
  background: rgba(255,255,255,0.1);
  opacity: 0.5;
}
.reveal li { padding-bottom: 0.5em; }



/* EXAMPLES */
.reveal .frameWrapper {
	position: relative;
	background: rgba(0,0,0,0.3); 
	/*border: solid 3px black;*/
}
.reveal iframe { 
	/*position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	max-width: 100%; max-height: 100%;*/
	background: rgba(255,255,255,0.8); 
}




/* CUSTOM */

/* BASICS */
.reveal .sectionSmallerWrapper {
	max-width: 930px;
	margin: 0 auto;
}

.reveal .muted { color: rgba(255,255,255,0.6) }
/*color: rgba(231,173,82,0.6)*/
.reveal .highlight {
  color: #CAA556;
  /*font-style: italic;
  opacity: 0.7;
*/}
.reveal .flat-highlight {
  color: #CAA556;
  opacity: 0.85;
}

.reveal .barList {
  margin: 0;
  text-align: center;
 }
.reveal .barList li {
  display: inline-block;
  padding: 0 0.6em 0 0.4em;
  border-right: solid 1px #CCC;
  list-style-type: none;
 }
.reveal .barList li:last-child { border: none; }

.reveal .sunLogo {
  display: inline;
  vertical-align: middle;
  width: 10%;
  border-width: 2px;
  border-radius: 10%;
}

.reveal .comparisonContainer {
	position: relative;
	/*border: solid red 3px;*/
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	display: flex;
  justify-content: center;
  align-items: center;
  /*outline: solid 1px cyan;*/
}

.reveal .comparisonImage {
	position: relative;
	margin: 0;
	border: none;
	box-shadow: 5px 5px 30px 5px black
}
.reveal .comparisonImage {
	position: absolute;
	top: 0; left: 0;
	transform-origin: 0;
	box-shadow: 5px 5px 30px 5px black;
}
.reveal .comparisonImage1 { transform:scale(0.8); left:65px; top:60px; z-index:10;}
/*.reveal .comparisonImage2 { transform:scale(1); left:0px; top:0px; }*/
.reveal .comparisonImage3 { transform: scale(0.80); left:auto; top:0px; right:0; transform-origin:100% 0; }
.reveal .comparisonImage4 { transform:scale(1); left:10px; top:10px; }
.reveal .comparisonImage5 { transform:scale(1); left:413px; top:239px; z-index:5; }
.reveal .comparisonImage6 { transform:scale(1); left:auto; top:auto; right:89px; bottom:19px; }
.reveal .comparisonImage7 { transform: scale(0.8); left:37%; top:11px; z-index:4; }

.reveal .tableAnimationContainer {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}
.reveal .tableAnimation {
	padding: 0 30px 30px;
}
.reveal .tableAnimation * { box-sizing: border-box }
.reveal .tableAnimation h2 {
	font-size: 18px;
}
.reveal .tableAnimation .cell {
	font-size: 18px;
	font-family: sans-serif;
	/*font-weight: bold;*/
	max-height: 40px;
}

.JofContainer {
	position: relative;
}
.reveal .JofOverlay {
	position: absolute;
	top: 45px;
  left: 490px;
	width: 100px;
	height: 100px;
	background: none;
	border: none;
}

.reveal .blurb {
	font-style: italic;
	font-weight: normal;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	font-size: 1.8em;
}